/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #333; 
    color: #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ccc;
}

.conocimiento {
    border: 1px solid #555;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #444;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.conocimiento:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    background-color: #555;
}

.conocimiento h2 {
    margin-top: 0;
    color: #ccc;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    opacity: 0;
    transform: translateX(-10px);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.conocimiento:hover h2 {
    color: #fff;
}

.conocimiento p {
    line-height: 1.6;
    opacity: 0;
    transform: scale(0.98);
    animation: scaleUp 0.5s ease forwards;
    animation-delay: 0.3s;
}

@keyframes scaleUp {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilo del botón de tienda.css */
.boton-inicio {
    position: relative;
    overflow: hidden;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boton-inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 0, 128, 0.5);
    transition: left 0.3s ease;
}

.boton-inicio:hover::before {
    left: 0;
}

.boton-inicio:hover {
    background-color: #777;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
